body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
    margin-inline: 20px;
    margin-bottom: 0.5em;
}
body h3{
    text-align: center;
    color: rgb(255, 255, 255);
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
    margin-inline: 25px;
    margin-bottom: 0.5em;
}

#oldOrNew{
    text-align: center;
    margin: auto;
    align-items: center;
}
#form{
    margin: 30 20 10 30;
    text-align: left;
}
button{
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 15px;
    padding: 15px 25px;
    transition-duration: 0.4s;
    border-radius: 4px;
    transition: all 0.5s;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px;
    width: 200px;
}
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 25px;
  }
button:hover span:after {
    opacity: 1;
    right: 0;
  }
.buttonJesus button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #dd2c2c ; /* red */
    color: white;
}

.ButtonDavi button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: cornflowerblue; /* blue */
    color: black;
}
.finalizar button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(57, 130, 64); /* blue */
    color: black;
}
.fecharProgram button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(57, 130, 64); /* blue */
    color: black;
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
label b{
    color: red;
}
label{
    font-size: 20px;
}
legend{
    font-size: 20px;
    color: red;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.bodyy{
    background-color: black;
}
